/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Unica One', cursive;
}

/* navbar section  */

nav {
    font-size: 1.2rem;
}

nav .navbar-brand{
    font-size: 1.7rem !important;
    font-weight: 600;
    color: #1dc9e3;
}

nav .navbar-brand span{
    color: #535bd4;
}

/* hero section */

.hero{
    min-height: 90vh;
    background-image: url(./images/home-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: #061539f2;
    color: white;
}

.hero .row {
    min-height: 100vh;
    align-items: center;
}

.hero h2{
    font-size: 3rem;
}

.hero p{
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 500;
    margin-top: 0.5rem;
}

.hero button{
    padding: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1.3rem;
    border-radius: 50px;
    margin-top: 1rem;
    background-color: #1dc9e3;
    border: none;
}

/* Section5 */

.sectionfive{
    background-color: darkblue;
    min-height: 100vh;
}
.app_pricing h2 {
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: 100;
    text-transform: uppercase;
    word-spacing: 3px;
    padding: 50px;
    /* margin-bottom: 10px; */

}
h2::after {
    display: block;
    height: 1px;
    background-color: white;
    content: " ";
    width: 70px;
    margin: 0 auto;
    margin-top: 20px;
}
.box{
    gap: 1%;
    
}
.box button{
    border-radius: 20px;
    position: relative;
    top: 4rem;
}
.box button:hover{
    background-color: blue;
    border: 1px solid blue;
}
.font{
    font-size: 248%;
}
@media (max-width:770px) {
    .box{
        display: block;
        padding-bottom: 50px;
    }
    .middle1{
        margin-bottom: 40px;
    }
    .middle{
        margin-bottom: 40px;
    }


}
